@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Nunito', sans-serif;

$font-base-size: 16;
$font-base-size-px: 16px;
